@use './partials/ResetStyle.scss';

.container-md{
    width: 1200px;
    margin: 0 auto;
}

.container-sm{
    width: 900px;
    margin: 0 auto;
}

.badge{
    font-size: 10px;
    color: white;
    background-color: rgb(252, 117, 35) ;
    border-radius: 5px;
    padding: 6px;
    border: none;
}

.text-lightgray{
    color: #918f8c;
}

.badge{
    padding: 12px;
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.row{
    display: flex;
}

.bg-white{
    background-color: white;
}

.col-50{
    width: calc(100% / 2);
}

.orange-button{
    background-color: rgb(252, 117, 35);
    color: white;
    padding: 12px;
    border: none;
    font-size: 10px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.text-line-height{
    line-height: 30px;
}

.col-75{
    width: calc(70% - 30px) ;
}

.col-25{
    width: 30%;
}

.size-font{
    font-size: 20px;
}

.size-font2{
    font-size: 38px;
}