@use './partials/ResetStyle.scss';

.container-md{
    width: 1200px;
    margin: 0 auto;
}

.container-sm{
    width: 900px;
    margin: 0 auto;
}

.badge{
    font-size: 10px;
    color: white;
    background-color: rgb(252, 117, 35) ;
    border-radius: 5px;
    padding: 6px;
}

.text-lightgray{
    color: #9c9894;
}

.badge{
    padding: 12px;
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.row{
    display: flex;
}

.bg-white{
    background-color: white;
}