main{
    background-color: #f5f5f1 ;
}

.popular{
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px ;
}

.cnt-farm{
    margin-top: 170px;
}

.cnt-blog{
    display: flex;
    margin-right: 27px;
    justify-content: end;
}

.orange-button{
    height: 35px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}






















