main{
    background-color: #9c9894 ;
}

.today-section{
    background: url(/src/assets/bg-sushi1200.jpg);
    background-size: cover;
    height: 660px;
    position: relative;
    margin-top: 12px;
}

.todays-pick{
    background-color: white;
    border-radius: 8px;
    height: 225px;
    width: 700px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.month{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9c9894;

}

.todays-badge{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.badge{
    padding: 12px;
    font-size: 14px;
}
