.header-sec{
    font-family: Arial, Helvetica, sans-serif;
}



.row{
    display: flex;
    justify-content: space-between;
}


.header-download{
    display: flex;
    color: #9c9894;
}

.header-social{
    display: flex;
}

.logo-container{
    text-align: center;
}

.logo-avada-header{
    width: 165px;
    margin-top: 22px;
}

.header-menu{
    display: flex;
    justify-content: center;
}

.logo-brand{
    color: #9c9894;
    width: 18px;
}

.li-download{
    padding-right: 55px;
    margin-top: 20px ;
}

.li-download:hover {
    color: rgb(252, 117, 35)
}

.li-advertise{
    margin-top: 20px;
}

.li-advertise:hover {
    color: rgb(252, 117, 35)
}

.brand{
    margin-top: 19px;
}

.logo-brand:hover {
    color: rgb(252, 117, 35)
}

.padding-brand{
    padding-right: 30px;
}



.orange-line{
    width: 42px;
    position: relative;
    left: 45px;
    border: 2px solid  rgb(252, 117, 35);
}